@font-face {
    font-family: 'Overpass';
    src: url('./overpass-bold.ttf');
}

.textAreaCustomFont {
    -fx-font-family: 'Overpass', sans-serif;
    -fx-font-size: 21px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.textAreaCustomFont .text{
    -fx-line-spacing: -12px;
}

.textAreaCustomFont .scroll-pane{
    -fx-hbar-policy: never;
    -fx-vbar-policy: never;
}

.textFieldCustom{
    -fx-font-family: 'Overpass', sans-serif;
    -fx-font-size: 18px;
    -fx-background-color:  transparent;
    -fx-border-color:  transparent;
    -fx-text-fill: white;
}

.tutorialText{
    -fx-font-family: 'Overpass', sans-serif;
    -fx-font-size: 19px;
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}

.tutorialText .text{
    -fx-line-spacing: -12px;
}